<div class="container py-5">
  <div class="row aboutSec  align-items-center">
    <div class="col-md-7">
      <div class="w-75 about position-relative mb-5">
        <div class="floating-img">
          <img src="assets/imgs/about2.jpg" alt="img" class="w-100" />
        </div>
      </div>
    </div>
    <div class="col-md-5 text-start ">
      <p>THE BEST OR CERMAICS</p>
      <h2>OUR PRODUCTS</h2>

      <div class="mainEl mt-5">
        <div class="productImg">
          <img src="assets/imgs/dish.png" alt="dish" class="w-100" />
        </div>
        <h6 class="my-3">DISHES & BOWLS</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="mainEl ">
        <div class="productImg">
          <img src="assets/imgs/plate.png" alt="dish" class="w-100" />
        </div>
        <h6 class="my-3">DISHES & BOWLS</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="mainEl ">
        <div class="productImg">
          <img src="assets/imgs/vase.png" alt="dish" class="w-100" />
        </div>
        <h6 class="my-3">DISHES & BOWLS</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
    </div>
  </div>
</div>
