.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; 
  height: 60px; 
  background-color: white; 
  border: none;
  color: black;
  z-index: 10;
  opacity: 1;
}

.carousel-control-prev {
  left: 0px; 
}

.carousel-control-next {
  right: 0px; 
}
